body {
  margin: 0;
  padding: 0;
}

.results {
  width: 100%;
  display: flex;
  justify-content: space-around;
  grid-gap: 20px;
  flex-wrap: wrap;
}

.card {
  border: 1px solid rgb(0, 0, 0);
  width: 300px;
  height: 300px;
  text-align: center;
  border-radius: 10px;
  margin-top: 90px;
  background-color: rgb(184, 184, 184);
}

.logoContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo {
  margin: 10px auto;
  height: 250px;
}
